{% extends "base.html" %}

{% block content %}


<div class="container is-max-desktop">
    <div class="content">
        <section class="hero is-info is-small">
            <div class="hero-body">
                <h5 class="subtitle">Course: {{ lessonscript.course }}</h5>
                <h3 class="title">Lesson {{ lessonscript.course_order }}: {{ lessonscript.title }}</h3>
            </div>
        </section>
        {{ lessonscript.formatted_markdown | safe}}

    </div>
</div>

{% endblock %}
