{% extends "base.html" %}

{% block content %}
<table class="table is-hoverable is-striped is-fullwidth">
    <thead>
        <tr>
            <th>Student</abbr></th>
            <th>Guardian</th>
            <th>Group</th>
        </tr>
    </thead>
    <tbody>
            {% for student in object_list %}
            <tr>
            <th>{{ student.last_name }} {{ student.first_name }}</th>
            <td>{{ student.guardian }}</td>
            <td>{{ student.group }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}
