<aside class="column is-3 is-narrow is-fullheight section is-hidden-mobile " style="width: 300px;">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a class="is-active">Dashboard</a></li>
        <li>
            <a href="/users">
                <span class="icon-text">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span> Users</span>
                </span>
            </a>
        </li>
        <li>
            <a href="/courses">
                <span class="icon-text">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span>Courses</span>
                </span>
            </a>
        </li>
        <li>
            <a href="/groups ">
                <span class="icon-text">
                    <span class="icon">
                        <ion-icon name="people-outline"></ion-icon>
                    </span>
                    <span>Groups</span>
                </span>
            </a>
        </li>
    </ul>
    <p class="menu-label">
        School Administration
    </p>
    <ul class="menu-list">
        <li>
            <a href="/users">
                <span class="icon-text">
                    <span class="icon">
                        <ion-icon name="school-outline"></ion-icon>
                    </span>
                    <span> Teachers</span>
                </span>
            </a>
        </li>
    </ul>
</aside>
