{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}


  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Course</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {% render_field form.course %}
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Teacher</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {% render_field form.teacher %}
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Week day</label>
    </div>
    <div class="field-body">
      <div class="control">
        <div class="select">
          {% render_field form.week_day %}
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Start time</label>
    </div>
    <div class="field-body">
      <div class="control">
        {% render_field form.start_time class="input" %}
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">End time</label>
    </div>
    <div class="field-body">
      <div class="control">
        {% render_field form.end_time class="input" %}
      </div>
    </div>
  </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
</form>


{% endblock %}
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda modi quaerat minima voluptatem aperiam libero error sit tempore! Iste voluptatum voluptatem provident! Rem repudiandae ullam sed similique voluptas, sint sit!
