{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Kurs: {{ course.title }}</h1>

    {% for lesson in lesson_list %}
    <div class="mb-3">
        <h4><a href="{{ lesson.get_absolute_url  }}">Lekcja: {{ lesson.title }}</a> </h4>
        <p>Opis: {{ lesson.description }}</p>
        <a type="button" class="button is-primary" href="{{ lesson.get_absolute_url}}/update">Update</a>
        <a type="button" class="button is-danger" href="{{ lesson.get_absolute_url}}/delete">Delete</a>

    </div>
    {%  endfor %}
</div>


{% endblock %}
