{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="content">
    <h1> {{ group.get_week_day_display }}</h1>
    <p>Teacher: {{ group.teacher }}</p>
    <p>Course: {{ group.course }}</p>
    <p>Time: {{group.start_time}} - {{group.end_time}}</p>

    <a class="button is-primary mb-2" id="add_lesson" href="{{ group.id }}/lesson/create" role="button">Add Lesson</a>

    <table class="table is-bordered">
        <thead>
            <tr>
                <th>Student</th>
                {% for lesson in lesson_list %}
                <th>
                    <p>
                        {{ lesson.number }}. {{ lesson.lesson_script }}<br>
                        {{ lesson.date }} <br>
                    </p>
                    {% if lesson.is_ended %}
                    <a class="button is-info is-small" id="start-lesson-{{lesson.pk}}"
                        href="{{ group.id }}/lesson/{{ lesson.pk }}/start" role="button">Edit Lesson</a>
                    {% elif lesson.is_started %}
                    <a class="button is-danger is-small" id="start-lesson-{{lesson.pk}}"
                        href="{{ group.id }}/lesson/{{ lesson.pk }}/start" role="button">End Lesson</a>

                    {% else %}
                    <a class="button is-success is-small" id="start-lesson-{{lesson.pk}}"
                        href="{{ group.id }}/lesson/{{ lesson.pk }}/start" role="button">Start Lesson</a>
                    {% endif %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th>{{student}}</th>
                {% for presence in student.presences %}
                {% if presence.is_present %}
                <td>
                    <span class="icon has-text-success">
                        <ion-icon size="large" name="checkbox"></ion-icon>
                    </span>
                </td>
                {% else %}
                <td>  </td>
                {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
